<% if !current_page?("/chats") %>
<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon" style="background-color: #F7F5EF;">
  <div class="container-fluid">
    <div class="d-flex align-items-center">
      <%= link_to "#", class: "navbar-brand me-0" do %>
      <%= image_tag "Logo.png" %>
      <% end %>
      <p class="mb-0 ms-1">Luminary</p>
    </div>
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto">
        <% if user_signed_in? %>
          <li class="nav-item dropdown">
          <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% elsif current_page?("/users/sign_in") %>

        <% else %>
          <li class="nav-item">
            <%= link_to "Enter", new_user_session_path, class: " btn-primary" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<% else %>
<% end %>
